.control{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;


  padding: 0 20px 2px;

  letter-spacing: -2px;

  @media (min-width: $screen-tablet) {
    padding: 0;
  }

  &__text{

    margin-right: auto;

    font-family: var(--title-font);
    font-size: em(24);
    line-height: calc(48 / 24);

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      margin-right: 150px;
    }
  }

  &__index{
    display: inline-block;
    min-width: 10px;
    text-align: left;
  }

  &__mark{
    font-style: italic;
    font-size: em(40, 24);
    line-height: calc(48 / 40);
    color: rgba(var(--mark), 1);
  }

  .btn--control-prev{
    margin-right: 32px;
  }
}