.page{
  position: relative;


  background-color: rgba(var(--bg-color), 1);
  transition: 1s;

  //overflow-x: hidden;

  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -10;

    width: 100%;
    min-height: 160vh;

    @media (min-width: $screen-mobile) {
      min-height: 160vh;
    }

    @media (min-width: $screen-tablet) {
      min-height: 1390px;
    }

    @media (min-width: $screen-desktop) {
      min-height: 1190px;
    }

    .no-webp &{
      background: url("../images/bg.png") 0 0 no-repeat;
      background-size: 100% 100%;
    }

    .webp &{
      background: url("../images/bg.webp") 0 0 no-repeat ;
      background-size: 100% 100%;
    }

    //background-attachment: fixed;

    //overflow: hidden;

    //&::after{
    //  content: "";
    //
    //  position: absolute;
    //  bottom: -20px;
    //  left: 0;
    //  right: 0;
    //
    //  width: 100%;
    //  height: 130px;
    //  background: linear-gradient(180deg,
    //          rgba(var(--black), 0.2) 0%,
    //          rgba(var(--grey), 0.8) 20%,
    //          rgba(var(--white), 0.5) 70%,
    //          rgba(var(--white), 1) 100%);
    //  transform: rotate(1deg);
    //
    //}
  }
}

.theme-is-black{
  transition: 1s;

  .page__bg{

    .no-webp &{
      background: url("../images/bg-night.png") 0 0 no-repeat ;
      background-size: 100% 100%;
    }

    .webp &{
      background: url("../images/bg-night.webp") 0 0 no-repeat ;
      background-size: 100% 100%;
    }

    &::after{
      background: linear-gradient(180deg,
              rgba(var(--bg-color), 0.2) 0%,
              rgba(var(--bg-color), 0.8) 20%,
              rgba(var(--bg-color), 0.5) 70%,
              rgba(var(--bg-color), 1) 100%);

    }
  }
}