.btn--play{
  position: relative;

  width: 60px;
  height: 60px;
  border-radius: 50%;

  background: rgba(var(--btn-play), 0.3);

  transition: 0.5s;

  @media (min-width: $screen-tablet) {
    width: 120px;
    height: 120px;
  }

  &::after{
    content: "";

    position: absolute;
    left: calc(50% - 5px);
    top: calc(50% - 10px);

    display: block;
    width: 1px;
    height: 1px;

    border-left: 20px solid rgba(var(--btn-play-after), 1);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-radius: 1px;

    @media (min-width: $screen-tablet) {
      left: calc(50% - 11px);
      top: calc(50% - 19px);

      border-left: 34px solid rgba(var(--btn-play-after), 1);
      border-top: 18px solid transparent;
      border-bottom: 18px solid transparent;
    }
  }

  &:focus{
    outline: none;
  }

  &:focus,
  &:hover{

    background: rgba(var(--btn-play), 0.8);
    box-shadow: 0 0 5px;
    &::after{

    }

  }
}