.products{
  --gradient: 25, 28, 41;
  --color: rgb(var(--white));

  margin-bottom: 50px;

  @media (min-width: $screen-tablet) {
    margin-bottom: 0;
  }

  &__wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    background: rgba(var(--bg-color), 1);

    @media (min-width: $screen-desktop) {
      padding: 137px 0 0 0;
      justify-content: space-between;
    }
  }

  &__item{
    max-width: 495px;
    padding: 40px 5px;
    margin: 0 0 36px;
    border-top: 1px solid var(--border-color);

    @media (min-width: $screen-desktop) {
      margin: 0 35px 105px;
      padding: 32px 0;
    }
  }

  &__title{
    margin-bottom: 24px;

    font-size: em(40);
    line-height: calc(48 / 40);

    @media (min-width: $screen-desktop) {
      font-size: em(40);
      line-height: calc(48 / 40);
    }
  }

  &__text{
    font-weight: 300;
    line-height: calc(26 / 18);
  }

  &__quote{
    padding: 20px;

    color: rgba(var(--white), 1);

    .no-webp &{
      background: linear-gradient(0deg,
              rgba(var(--gradient), 0.84),
              rgba(var(--gradient), 0.84)),
      url("../images/quote-background.png") 0 0 no-repeat;
      background-size: cover;
    }

    .webp &{
      background: linear-gradient(0deg,
            rgba(var(--gradient), 0.84),
            rgba(var(--gradient), 0.84)),
    url("../images/quote-background.webp") 0 0 no-repeat;
    }

    @media (min-width: $screen-desktop) {
      padding: 102px 308px 101px 129px;
    }

    figure{
      margin: 0;
    }

    blockquote{
      position: relative;
      padding-left: 40px;
      margin: 0 0 40px 0;

      font-size: em(24);
      line-height: calc(36 / 24);
      letter-spacing: 0.045em;

      @media (min-width: $screen-desktop) {
        padding-left: 0;

        font-size: em(32);
        line-height: calc(46 / 32);
      }

      &::after{
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        width: 50px;
        height: 41px;

        background: url("../images/sprites/quote-spriteSVG.svg") no-repeat;
        background-position: var(--quote);
        background-size: cover;

        @media (min-width: $screen-desktop) {
          top: -35px;
          left: -60px;

          width: 100px;
          height: 84px;
        }
      }
    }

    figcaption{
      padding-left: 40px;

      font-family: var(--title-font);
      font-style: italic;
      font-size: em(16);
      line-height: 1;
      letter-spacing: 0.08em;

      @media (min-width: $screen-desktop) {
        padding-left: 0;
        font-size: em(20);
      }
    }
  }
}