.header{
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 100;

  display: block;
  padding: 22px 0;

  background: linear-gradient(270deg,
          rgba(var(--gradient-color-header), 0.5) 0%,
          rgba(var(--gradient-color-header), 0.2) 24.1%,
          rgba(var(--gradient-color-header), 0) 47.19%,
          rgba(var(--gradient-color-header), 0.02));
  backdrop-filter: blur(9px);

  &:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    width: 100%;
    height: 0;

    background: rgba(var(--btn-color), 1);

    transition: 0.7s;
  }

  &:hover{

    &:after{
      height: 100%;

      background: rgba(var(--btn-color), 0.8);
    }
  }

  &--fixed{
    position: fixed;
    top: 0;

    padding: 10px 0;
  }

  &__body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo{
    width: 104.11px;
    height: 32px;
  }

  .btn--menu{
    @media (min-width: $screen-tablet) {
      display: none;
    }
  }
}