.about{
  --gradient: 33, 36, 54;
  --height: 680px;

  margin-bottom: 70px;

  @media (min-width: $screen-tablet) {
    margin-bottom: 0;
  }

  .row{
    position: relative;
  }

  &__row{
    //background: var(--bg);

    @media (min-width: $screen-tablet) {
      min-height: var(--height);
      padding: 55px 0;
    }
  }

  &__bg{
    display: none;

    @media (min-width: $screen-desktop) {

      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 0;

      display: block;
      min-width: 566px;
      max-height: var(--height);

      .no-webp &{
        background: linear-gradient(359.55deg,
                rgba(var(--gradient), 0.5) 0.64%,
                rgba(var(--gradient), 0) 94.04%), url("../images/about.jpg") 0 0 no-repeat;
        background-size: cover;
      }

      .webp &{
        background: linear-gradient(359.55deg,
                rgba(var(--gradient), 0.5) 0.64%,
                rgba(var(--gradient), 0) 94.04%), url("../images/about.webp") 0 0 no-repeat;
        background-size: cover;
      }


    }
  }

  &__col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (min-width: $screen-desktop) {
      margin-left: 397px;
    }
  }

  &__item{
    width: 50%;

    &.info{

      @media (min-width: $screen-mobile) {
        margin-right: 15px;
      }
    }
  }

  &__text{
    padding: 13px 0;

    font-size: em(18);
    font-weight: 300;

    p{
      line-height: calc(26 / 18);

      &:first-child{
        margin-bottom: 32px;
      }

      &:last-child{
        margin-bottom: 30px;
      }
    }
  }
}