.icon {
	background: url("symbol-spriteSVG.svg") 0 0 no-repeat;
	width: 13px;
	height: 12px;
}

.sign {
	background: url("symbol-spriteSVG.svg") 0 40% no-repeat;
	width: 18px;
	height: 18px;
}

.usdt {
	background: url("symbol-spriteSVG.svg") 0 100% no-repeat;
	width: 18px;
	height: 18px;
}

