.footer{

  &__wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 23px 0;

    font-weight: 300;
    font-size: em(14);
    line-height: calc(26 / 14);
    color: rgba(var(--primary), 0.6);

    @media (min-width: $screen-tablet) {
      flex-direction: row;
      flex-wrap: nowrap;
    }

    a{
      font-weight: normal;
      line-height: calc(24 / 14);
      letter-spacing: 0.08em;
      text-decoration: none;

      color: rgba(var(--primary), 1);

      &:hover{
        color: rgba(var(--mark), 1);
      }
    }

    .made span{
      margin-right: 12px;
    }

    .policy a{
      margin-right: 32px;

      &:last-child{
        margin-right: 0;
      }
    }
  }

  &__item{
    padding: 15px 0;

    @media (min-width: $screen-tablet) {
      padding: 0;
    }
  }
}