.nav{
  position: fixed;
  top: 0;
  left: -100vw;
  bottom: 0;

  width: 100%;
  max-width: inherit;
  height: 100vh;
  padding: 50px 20px;

  transition: 1s;

  background: rgba(var(--bg-color), 1);

  @media (min-width: $screen-tablet) {
    position: static;

    width: auto;
    height: auto;
    padding: 0;

    background: transparent;
  }

  &.open{
    left: 0;
    right: 0;
    z-index: 100;

    transition: 1s;
  }

  &__list{
    @include list-reset;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 100%;

    @media (min-width: $screen-tablet) {
      flex-direction: row;

      margin-right: 38px;
    }

  }

  &__item{
    padding: 5px 10px;
    color: rgba(var(--primary), 1);

    transition: 0.5s;

    @media (min-width: $screen-tablet) {
      padding: 0;
      margin-right: 30px;

      &:last-child{
        margin-right: 0;
      }
    }

    &:hover{
      color: rgba(var(--mark), 1);

      transform: scale(1.2) perspective(15px) rotateX(5deg);
      box-shadow: 0 5px 5px 5px;
      transition: 0.5s;

      @media (min-width: $screen-tablet) {
        transform: scale(1.2);
        box-shadow: none;
      }
    }

    a{
      font-size: em(24);
      font-weight: normal;
      line-height: calc(36 / 24);
      letter-spacing: 0.08em;
      text-decoration: none;
      color: inherit;

      @media (min-width: $screen-tablet) {
        font-size: em(14);
      }
    }
  }

  .btn--close{
    @media (min-width: $screen-tablet) {
      display: none;
    }
  }
}