.btn--control{
  position: relative;

  display: block;
  width: 48px;
  height: 48px;
  padding: 10px 0;

  transition: 0.3s;
  
  &::before{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    right: 0;
    
    width: 48px;
    height: 2px;

    background: rgba(var(--mark), 1);
  }

  &::after{
    content: "";

    position: absolute;
    top: calc(50% - 7px);

    width: 0;
    height: 0;

    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
  }

  &-next::after{
    right: 0;

    border-left: 10px solid rgba(var(--mark), 1);
  }

  &-prev::after{
    left: 0;

    border-right: 10px solid rgba(var(--mark), 1);
  }

  &.disable{
    &::before{
      background: rgba(var(--grey), 1);
    }

    &::after{
      border-left-color: rgba(var(--grey), 1);
      border-right-color: rgba(var(--grey), 1);
    }

    &:hover{
      cursor: default;
    }

  }

  &:focus{
    outline: none;
  }

  &:not(.disable):hover{
    transform: scale(1.2);
  }
}